.bottom-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background: #111;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.bottom-nav a {
  color: white;
  font-size: 22px;
  text-decoration: none;
}
